<script>
	import {flip} from 'svelte/animate';
	import {fade} from 'svelte/transition';
	import { createEventDispatcher } from 'svelte';
	
	import { list, writableArrays, pop, push, deleteItem, enqueue, dequeue, writeAbove, writeBelow } from './storeLinear.js';
	
	import Cell from './Cell.svelte';

	const dispatch = createEventDispatcher();

	export let externalNumber = 0;

	export let labels = ["🍓"];
	export let belows = Array();
	export let aboves = Array();

	let keyItem = 0;  // chaque item doit avoir une "key" unique pour l'animation

	let length = 0;  // longueur du tableaude données

	export let caption = ""

	export let numbered = false;

	export let clickable = false;

	export let vertical = false;

	$: horizontal = ! vertical;

	// couples {btn,fn}
	export let functions = Array();

	export let action = "swapPrevious";
	
	const options = {};

	export let buttons = Array() ;//["push_icons","push_text","pop","empty","enqueue_icons","enqueue_text","dequeue"];
	export let icons = ["🍓","🍌","🍏","🍆","🍊","🍍","🍋","🍅"];

	let newItemText = "";

	let lastClickedItem = false;

	labelsUpdate(); // création de la liste

	function chooseArray(){
		if(externalNumber>0){
			return $writableArrays[externalNumber];
		}else{
			return $list;
		}
	}

	function innerPush(newLabel) {
		if(newLabel.trim()){
			push(chooseArray(),{label:newLabel,key:keyItem++});
			listUpdate(chooseArray());
		}else{
			alert("On ne peut pas empiler un texte vide !");
		}
    }

	function innerPop() {
		if(chooseArray().length > 0){
			pop(chooseArray());
			listUpdate(chooseArray());
		}else{
			alert("Impossible de dépiler une pile vide !");
		}
    }
    
    function innerDeleteItem(item) {
		deleteItem(chooseArray(),item);
		listUpdate(chooseArray());
    }

    function innerSelectItem(index) {
		selectItem(chooseArray(),index);
		listUpdate(chooseArray());
    }

    function innerUnselectItem(index) {
		unselectItem(chooseArray(),index);
		listUpdate(chooseArray());
    }


	function innerEnqueue(newLabel) {
		if(newLabel.trim()){
			enqueue(chooseArray(),{label:newLabel,key:keyItem++});
			listUpdate(chooseArray());
		}else{
			alert("On ne peut pas empiler un texte vide !");
		}
	}

    function innerDequeue(){
    	if(chooseArray().length > 0){
			dequeue(chooseArray());
			listUpdate(chooseArray());
		}else{
			alert("Impossible de défiler une file vide !");
		}
    }

    function innerEmpty(){
    	listUpdate(Array());
    }  

	function labelsUpdate(){
		// pour pouvoir utiliser des clés dans les animations
		// 'list' mise à jour quand 'labels' est modifié
		var newList = Array(labels.length);
	
		for(let i=0; i<labels.length; i++){
			var b = numbered ? i : belows[i];
			var a = aboves[i] ? aboves[i]: "";
			newList[i] = {key:i, 
							label:labels[i],
							above:a,
							below:b
						};
		}
		keyItem = labels.length;
		length = labels.length;
		listUpdate(newList);
	}

	function numberList(newList){
		for(var i=0;i<newList.length;i++){
				newList[i].below = i;
		}
	}
	
	function listUpdate(newList){
		if(numbered){
			numberList(newList);
		}
		if(externalNumber>0){
			$writableArrays[externalNumber] = newList;
		}else{
			$list = newList;
		}
		//list = newList;
		//console.log(list.length);
		dispatch('list',{list:newList});
	}
	
// à faire 

	function swapPrevious(item){
		// permute l'item d'indice i avec le précédent
		var i = list.indexOf(item);
		if(i == 0){
			alert("Impossible !");
		}else{
			//let item = list[i];
			//item.index = i-1;
			let previous = list[i-1];
			//previous.index = i;
			list.splice(i-1,2,list,previous);
			listUpdate(list);
		}
	}

	function swap(item1,item2){
		var i = list.indexOf(item1);
		var j = list.indexOf(item2);
		if(i > j){
			list.splice(i,1,item2);
			list.splice(j,1,item1);
		}else{
			list.splice(j,1,item1);
			list.splice(i,1,item2);			
		}
		listUpdate(list);
	}
	

    function insertItem(index,item) {
		list.splice(index,0,item);
		listUpdate(list);
    }
	function click(item){
		console.log("click "+action+item.label);
		if(action == "swap"){
			console.log(lastClickedItem.label+" "+item.label);
			if(!lastClickedItem){
				lastClickedItem = item;
				item.clicked = true;
			}else{
				item.clicked = false;
				if(lastClickedItem == item){
					lastClickedItem = false;
				}else{
					swap(lastClickedItem,item);
					lastClickedItem = false;
				}
			}
		}
		else if(action == "deleteItem"){
			deleteItem(item);
		}
		else if(action == "insertItem"){
			insertItem(list.indexOf(item),{label:item.label,key:keyItem++});
		}
		else if(action == "swapPrevious"){
			swapPrevious(item);
		}else if(action == 'pop'){
			innerPop();
		}else if(action == 'dequeue'){
			innerDequeue();
		}else if(action =="push"){
			//	push((list.length+1).toString());
			push("MM");
		}
		dispatch('listItem',{item:item});
	}
	
</script>
{#if caption}
	<p>{@html caption}</p>
{/if}
	{#each buttons as btn}
<!-- PILES -->
		{#if btn=="push_text"}
			<input bind:value={newItemText} type="text" placeholder="" maxlength="2" size="2">
			<button on:click={() => innerPush(newItemText)}>Empiler</button>
		{/if}
		{#if btn=="push_icons"}
			<p>Empiler :</p>
			{#each icons as icon}
			<button on:click={() => innerPush(icon)} class="icon">{icon}</button>
			{/each}
			<br>
		{/if}
		{#if btn=="pop"}
			<button on:click={innerPop}>Dépiler</button>
		{/if}
<!-- FILES -->
		{#if btn=="enqueue_text"}
			<input bind:value={newItemText} type="text" placeholder="" maxlength="2" size="2">
			<button on:click={() => innerEnqueue(newItemText)}>Enfiler</button>
		{/if}
		{#if btn=="enqueue_icons"}
			<p>Enfiler :</p>
			{#each icons as icon}
			<button on:click={() => innerEnqueue(icon)} class="icon">{icon}</button>
			{/each}
			<br>
		{/if}
		{#if btn=="dequeue"}
			<button on:click={innerDequeue}>Défiler</button>
		{/if}
		{#if btn=="empty"}
			<button on:click={innerEmpty}>Vider</button>
		{/if}
	{/each}
<!-- boutons supplémentaires paramétrables : à faire -->
	{#each functions as btn}
		<button on:click={btn.fn}>{btn.btn}</button>
	{/each}
{#if buttons || functions}
<br>
{/if}
<span>
	{#each $writableArrays[externalNumber] as item, i (item)}
	<div animate:flip={options} transition:fade class="container" class:vertical class:horizontal>
		{#if clickable}
		<span on:click={()=>click(item)} class:clickable><Cell {item}/></span>
		{/if}
		{#if !clickable}
		<Cell {item} />
		{/if}
	</div>
	{/each}
</span>

<style>
	.container {
		margin: 0px;
		width: 2.4em;
		height: 2.4em;
	}
	.clickable{
		cursor: pointer;
	}
	.horizontal{
		display: inline-block;
	}
	.vertical{
		display: block;
	}
	.icon{
		width: 3em;
		font-size: 120%;
		height: 1.5em;
	}
	.clicked{
		border-width: 5;
	}
	button{
		cursor: pointer;
	}
</style>