<svelte:head>
<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css"/>
<script defer src="https://pyscript.net/latest/pyscript.js"></script>
</svelte:head>

<div>
<py-repl id="my-repl"> </py-repl>
</div>