<script>
	import { fade, fly } from 'svelte/transition';
	let liste_animaux = ["🦑","🐢","🐼","🦊","🦐","🦆","🐯","🐸"];
  let todoList = [];
	let i = 0
	function empiler(nouveau) {
		todoList = [{texte:nouveau,id:i}, ...todoList];
		i++
	}
	
	function depiler() {
		let a = todoList.splice(0, 1);
		todoList = todoList;
		return a
    }
</script>

<button on:click={depiler}>Dépiler</button>
ou empiler :
{#each liste_animaux as animal, j (animal)}	
	<button on:click={() => empiler(animal)}>{animal}</button>
{/each}

<br/>

<div class="pile">
{#each todoList as item, j (item)}	
	<span in:fade out:fade id={j}>{item.texte}</span>
	<br/>
{/each}
</div>

<style>
	.pile{
		border: 1px solid #F66570; 
		padding: 5px;
		width: 2em;
		text-align: center;
		border-radius: 5px;
	}
</style>