<script>
	import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';

	const [send, receive] = crossfade({
		fallback(node, params) {
			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			return {
				duration: 600,
				easing: quintOut,
				css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});

	let pile = [{texte:"🐯", "pile":0, "cle":0, "num":0},
					{texte:"🦊", "pile":0, "cle":1, "num":1},
					{texte:"🐼", "pile":0, "cle":2, "num":2},
					{texte:"🐢", "pile":0, "cle":3, "num":3},
					{texte:"🦑", "pile":0, "cle":4, "num":4}
					];
    let piles = [[0,1,2,3,4],[],[]];
	let num = 4;
	let essais = 0;

  	let objectif = ["🐯", "🦊", "🐼", "🐢", "🦑"];

	function verifier(){
		if (piles[0].length !== objectif.length) return false;
		let rep = true;
		for (var i = 0; i < objectif.length; i++) {
			if (piles[0][i] != objectif.length-i-1){
				rep = false;
			}
		}
		if(rep){
				let msg = "";
				if(essais > objectif.length*3){
					msg = "\nMais vous avez utilisé "+essais.toString()+" essais, vous pouvez faire mieux."
				}
				alert("Bravo !"+msg);
			}
	}
	function trier(a, b){
		// le plus grand num en haut
		return b.num - a.num;
	}
	function depiler(depart, arrivee) {
		if(piles[depart].length == 0){
			alert("Impossible de dépiler une pile vide !");
			return 0;
		}
		num ++;
		essais ++;
		// récupération de la clé de l'item dépilé
		let a = piles[depart].pop();
		// empilement
		piles[arrivee].push(a);
		for (let i = 0; i < pile.length; i++) {
			if(pile[i]["cle"] == a){
				pile[i]["pile"] = arrivee;
				pile[i]["num"] = num;
			}
		}
		verifier();
  }
</script>

<h1>Retourner une pile</h1>
<p>
Vous devez retourner la pile 1. Pour cela, vous pouvez utiliser deux piles auxiliaires : pile 2 et pile 3.	
</p>

<p>
Les boutons permettent de dépiler le sommet d'une pile dans une autre.
</p>

<table>
<tr>
	<th>Objectif</th>
	<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
	<th>Pile&nbsp;1</th>
	<th> </th>
	<th>Pile&nbsp;2</th>
	<th> </th>
	<th>Pile&nbsp;3</th>
</tr>
<tr>
	<td class="objectif">
		{#each objectif as item (item)}	
	    	<span>
		 	{item}
			</span>
    {/each}
	</td>
	<td></td>
	<!-- {#each $store.filter((todo) => todo.done === done) as todo (todo.id)} -->
	<td class="pile">
		{#each pile.filter((item) => item.pile===0).toSorted(trier) as item (item.cle)}	
	    	<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
		 		{item.texte}
			</div>
    {/each}
	 </td>
	<td>
		<button on:click={() => depiler(0,1)}>&gt;</button>
		<br/>
		<button on:click={() => depiler(1,0)}>&lt;</button>
		<br/>
		<button on:click={() => depiler(0,2)}>&gt;&gt;</button>
	</td>
	<td class="pile">
		{#each pile.filter((item) => item.pile===1).toSorted(trier) as item (item.cle)}	
	    	<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
		 		{item.texte}
			</div>
    {/each}
	 </td>
	<td>
		<button on:click={() => depiler(1,2)}>&gt;</button>
		<br/>
		<button on:click={() => depiler(2,1)}>&lt;</button>
		<br/>
		<button on:click={() => depiler(2,0)}>&lt;&lt;</button>
	</td>
	<td class="pile">
		{#each pile.filter((item) => item.pile===2).toSorted(trier) as item (item.cle)}	
	    	<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
		 		{item.texte}
			</div>
    {/each}
	 </td>
</tr>
</table>

<style>
	table{
		margin-left: auto;
  		margin-right: auto;
	}
	td{
		text-align: center;
	}
	.pile{
		border: 3px solid #F66570; 
		padding: 5px;
		width: 2em;
		border-radius: 5px;
	}
	.objectif{
		border: 3px solid #07566F;
		padding: 5px;
		width: 2em;
		border-radius: 5px;
	}
</style>
