:root{
    /* pour le alpha il faut du décimal 
    F6 -> 246
    64 -> 94

    46 -> 66
    6F -> 105
    */
    --monrouge: #F66400;
    --monbleu: #00466F;
    --monviolet: #6400F6;
    --monvertfonce: #466F00;
    --monvertclair: #00f664;
    --monpourpre: #6f0046;
    --mongris: #666666;

    --fondgris: rgba(96,96,96,0.3);
    --fondrouge: rgba(246,94,0,0.5);
    --fondvert: rgba(66,105,0,0.3);
    --fondbleu: rgba(0,66,105,0.3);

}
body{
    font-family: "lucida sans unicode","arial unicode","bitstream vera sans",sans-serif;
    color: var(--monbleu);
    background-color: #FFFFFF;
    width: 100%;
    max-width: 40em;
    margin: 10px auto;
}
a {
    text-decoration: none;
    color: var(--monrouge);
}
a:hover {
    text-decoration: underline;
}
li:hover .correction{
    display: block;
    visibility: visible;
}
ol{
    list-style-position:inside;
}
ul{
    list-style-position:inside;
    padding-left: 0px;
}
h1{
    text-align: right;
    text-transform: uppercase;
    border-bottom-width: 5px;
    border-bottom-style:solid;
    border-bottom-color: var(--monrouge);
}
h2{
    text-align: left;
}
    table{
    margin-left: auto;
    margin-right: auto;
}
td{
    text-align: center;
}
.pile{
    border: 3px solid var(--monrouge); 
    padding: 5px;
    width: 2em;
    border-radius: 5px;
}
.objectif{
    border: 3px solid var(--monbleu);
    padding: 5px;
    width: 2em;
    border-radius: 5px;
}
.nombre{
    width: 2em;
}
.ligne{
    width: 15em;
}
.gauche{
text-align:left;
}
.droite{
    float:right;
}
.bouton{
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}
#code{
    width: 100%;
    border: 3px solid var(--monbleu);
    padding: 5px;
    border-radius: 5px;
}
code{
    background-color: var(--fondgris);
}
#interface{
    border: 3px solid var(--monbleu);
    padding: 5px;
    border-radius: 5px;
}
.actif{
    background-color : var(--fondbleu);
}
.erreur{
    background-color : var(--fondrouge);
    display:block;
}
.invisible{
    visibility: hidden;
}